<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
      body {
        font-family: 'Roboto Slab', serif;
      }
    </style>
    <title>Список покупок для: {{ name }}</title>
  </head>
  <body> 
      <hr>
      <h1>Сегодня нужно купить:</h1>
      <hr>

      {% for item in shoping_cart %}
        <h2>Рецпт: {{ item.recipe.name }} </h2>
        <br>
        <h3>Ингридиенты: </h3>
        {% for ingredient in item.recipe.ingredient_list.all %}
        <b>- {{ ingredient}}</b>
        <br>
        {% endfor %}
        <br>
     
      {% endfor %}
      <hr>
      Foodgram {% now "Y" %}

  </body>
</html>